# Table of Contents for Task on 4.8 Grouping data and aggregating variables
    Import libraries, set path, import files (ords_prods_merge_newvariable.pkl)
    Make checks (head, shape)
    Group on department_id by using the mean, min and max on order_number
    Create a new column max_order by grouping the user_id with the max count of order_number - the max number that each customer has ordered
            Check the head and shape
    Assign loyalty values to the max_order column where 
        if the max is above 40 the string is 'loyal customer', 
        if more than ten and equal/less than 40 then 'regular customer', 
        and if less than 10 then 'new customer"
        The new column is loyalty_flag
        View its counts
        View the head of columns 'user_id', 'loyalty_flag', 'order_number'
    Determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers: Whether a loyal, new or regular customer the prices of what they purchase remain similar to each other
        Check for inf values and replace with zero
        Replace large number with sensible number
    Create a spending flag for each user based on the average price across all their orders
    Create an order frequency flag that marks the regularity of a user’s ordering behavior using the median in the “days_since_prior_order” column
    Export as ord_prods_merge_newvariable_flags.pkl

# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Set path

In [2]:
path = r'C:\Users\valev\Desktop\0325 Instacart Basket Analysis'

# Import files

In [3]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ord_prods_merge_newvariable.pkl' ))

In [4]:
df_ords_prods_merge.shape

(32404859, 18)

In [5]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.800781,1107,38259,2,1,11,7.0,7,0,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.800781,5319,196224,65,1,14,1.0,3,1,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.800781,7540,138499,8,0,14,7.0,4,1,both,Mid-range product,Busiest day,Busiest day,Most orders
3,1,Chocolate Sandwich Cookies,61,19,5.800781,9228,79603,2,2,10,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.800781,9273,50005,1,1,15,NaN,30,0,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders

# Group on department_id by using the mean on order_number

In [6]:
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

### The results are pretty similar, afterall, the subset was a large chunk of the data.  It IS different but the subset would have contained already a random sample of the whole data.

In [7]:
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

# Create a new column max_order that will be defined by grouping the user_id with the max count of order_number - the max number that each customer has ordered

In [8]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\valev\AppData\Local\Temp\ipykernel_33896\136815596.py:1: FutureWarning: The provided callable <function max at 0x000002122A57E020> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.800781,1107,38259,2,1,11,7.0,7,0,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,4
1,1,Chocolate Sandwich Cookies,61,19,5.800781,5319,196224,65,1,14,1.0,3,1,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,99
2,1,Chocolate Sandwich Cookies,61,19,5.800781,7540,138499,8,0,14,7.0,4,1,both,Mid-range product,Busiest day,Busiest day,Most orders,23
3,1,Chocolate Sandwich Cookies,61,19,5.800781,9228,79603,2,2,10,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,5
4,1,Chocolate Sandwich Cookies,61,19,5.800781,9273,50005,1,1,15,NaN,30,0,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,22

In [10]:
df_ords_prods_merge.shape

(32404859, 19)

# Assign loyalty values to the max_order column where if the max is above 40 the string is 'loyal customer', if more than ten and equal/less than 40 then 'regular customer', and if less than 10 then 'new customer"

In [11]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [15]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices':['min', 'mean', 'max']})

                 prices
                    min mean  max
loyalty_flag
Loyal customer      1.0  inf  inf
New customer        1.0  inf  inf
Regular customer    1.0  inf  inf

In [16]:
# Find out which products have inf values

# Boolean mask of infinite values
inf_mask = np.isinf(df_ords_prods_merge['prices'])

# Display rows with inf or -inf in 'prices'
df_ords_prods_merge[inf_mask]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
21786183,33664,2 % Reduced Fat Milk,84,16,inf,4783,108505,34,2,13,10.0,13,0,both,High-range product,Regularly busy,Regularly busy,Most orders,39,Regular customer
21786184,33664,2 % Reduced Fat Milk,84,16,inf,13820,191672,25,0,22,6.0,6,0,both,High-range product,Busiest day,Busiest day,Fewest orders,38,Regular customer
21786185,33664,2 % Reduced Fat Milk,84,16,inf,16454,74750,24,5,15,2.0,10,1,both,High-range product,Regularly busy,Regularly busy,Most orders,28,Regular customer
21786186,33664,2 % Reduced Fat Milk,84,16,inf,16749,167224,18,2,14,6.0,9,1,both,High-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer
21786187,33664,2 % Reduced Fat Milk,84,16,inf,17778,7608,2,2,8,1.0,9,0,both,High-range product,Regularly busy,Regularly busy,Average orders,47,Loyal customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21786876,33664,2 % Reduced Fat Milk,84,16,inf,3407607,14872,17,4,21,13.0,9,1,both,High-range product,Least busy,Least busy,Fewest orders,18,Regular customer
21786877,33664,2 % Reduced Fat Milk,84,16,inf,3409400,70851,10,5,9,5.0,1,1,both,High-range product,Regularly busy,Regularly busy,Average orders,34,Regular customer
21786878,33664,2 % Reduced Fat Milk,84,16,inf,3414106,111487,25,6,7,9.0,5,1,both,High-range product,Regularly busy,Regularly busy,Fewest orders,34,Regular customer
21786879,33664,2 % Reduced Fat Milk,84,16,inf,3417702,70821,5,2,14,18.0,13,0,both,High-range product,Regularly busy,Regularly busy,Most orders,28,Regular customer
21786880,33664,2 % Reduced Fat Milk,84,16,inf,3421047,98554,4,1,11,4.0,6,0,both,High-range product,Regularly busy,Next_busiest_day,Most orders,15,Regular customer

In [17]:
np.isinf(df_ords_prods_merge['prices']).sum()
# This is how many rows are affected with inf

698

In [18]:
df_ords_prods_merge['prices'] = df_ords_prods_merge['prices'].replace([np.inf, -np.inf], 0)
# Replace all inf with zero

# Try again

In [19]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices':['min', 'mean', 'max']})

                 prices
                    min       mean      max
loyalty_flag
Loyal customer      0.0   9.578640  14896.0
New customer        0.0  10.058874  14896.0
Regular customer    0.0   9.893772  14896.0

In [20]:
df_ords_prods_merge['prices'] = df_ords_prods_merge['prices'].replace(14896, 14.896)
# Replace all 14896 with 14.896

# Try one more time

In [21]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices':['min', 'mean', 'max']})

                 prices
                    min      mean   max
loyalty_flag
Loyal customer      0.0  7.774228  25.0
New customer        0.0  7.801918  25.0
Regular customer    0.0  7.798934  25.0

## Whether a loyal, new or regular customer the prices of what they purchase remain similar to each other

# The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
## If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
## If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

## Create new column average_spent

In [22]:
df_ords_prods_merge['average_spent'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [23]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spent
0,1,Chocolate Sandwich Cookies,61,19,5.800781,1107,38259,2,1,11,...,7,0,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,4,New customer,7.163135
1,1,Chocolate Sandwich Cookies,61,19,5.800781,5319,196224,65,1,14,...,3,1,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,99,Loyal customer,5.342874
2,1,Chocolate Sandwich Cookies,61,19,5.800781,7540,138499,8,0,14,...,4,1,both,Mid-range product,Busiest day,Busiest day,Most orders,23,Regular customer,7.469755
3,1,Chocolate Sandwich Cookies,61,19,5.800781,9228,79603,2,2,10,...,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,5,New customer,6.985924
4,1,Chocolate Sandwich Cookies,61,19,5.800781,9273,50005,1,1,15,...,30,0,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,22,Regular customer,7.493308

## Assign low spender and high spender values

In [24]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_spent']<10,'spending_flag']='Low spender'

In [25]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_spent']>= 10, 'spending_flag'] = 'High spender'

## Get counts

In [26]:
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     32285266
High spender      119593
Name: count, dtype: int64

### Most users are deemed low spenders, but also, most groceries do not exceed 10

# In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
## If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
## If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
## If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

## Create column median_days_since_orders

In [27]:
df_ords_prods_merge['median_days_since_orders'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [28]:
# Check head
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spent,spending_flag,median_days_since_orders
0,1,Chocolate Sandwich Cookies,61,19,5.800781,1107,38259,2,1,11,...,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,4,New customer,7.163135,Low spender,30.0
1,1,Chocolate Sandwich Cookies,61,19,5.800781,5319,196224,65,1,14,...,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,99,Loyal customer,5.342874,Low spender,1.0
2,1,Chocolate Sandwich Cookies,61,19,5.800781,7540,138499,8,0,14,...,both,Mid-range product,Busiest day,Busiest day,Most orders,23,Regular customer,7.469755,Low spender,7.0
3,1,Chocolate Sandwich Cookies,61,19,5.800781,9228,79603,2,2,10,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,5,New customer,6.985924,Low spender,30.0
4,1,Chocolate Sandwich Cookies,61,19,5.800781,9273,50005,1,1,15,...,both,Mid-range product,Regularly busy,Next_busiest_day,Most orders,22,Regular customer,7.493308,Low spender,7.0

##  Assign order_frequency_flag

In [29]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [30]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_since_orders'] > 10) & (df_ords_prods_merge['median_days_since_orders'] <=20), 'order_frequency_flag'] = 'Regular customer'

In [31]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

## Check counts

In [32]:
df_ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [33]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spent,spending_flag,median_days_since_orders,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.800781,1107,38259,2,1,11,...,Mid-range product,Regularly busy,Next_busiest_day,Most orders,4,New customer,7.163135,Low spender,30.0,Non-frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.800781,5319,196224,65,1,14,...,Mid-range product,Regularly busy,Next_busiest_day,Most orders,99,Loyal customer,5.342874,Low spender,1.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.800781,7540,138499,8,0,14,...,Mid-range product,Busiest day,Busiest day,Most orders,23,Regular customer,7.469755,Low spender,7.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.800781,9228,79603,2,2,10,...,Mid-range product,Regularly busy,Regularly busy,Most orders,5,New customer,6.985924,Low spender,30.0,Non-frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.800781,9273,50005,1,1,15,...,Mid-range product,Regularly busy,Next_busiest_day,Most orders,22,Regular customer,7.493308,Low spender,7.0,Frequent customer

In [34]:
df_ords_prods_merge.shape

(32404859, 24)

In [35]:
df_ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_spent',
       'spending_flag', 'median_days_since_orders', 'order_frequency_flag'],
      dtype='object')

# Export to pkl

In [36]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ord_prods_merge_newvariable_flags.pkl'))